# Example configuration template

# APIs
SENDGRID_API_KEY=
SENDER_EMAIL=
TELEGRAM_BOT_TOKEN=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
OPENWEATHER_API_KEY=
AVIATIONSTACK_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=credentials_prod.json

# General Info
CITY=Addis Ababa
HOTEL_NAME=Guzo Guest Assist
MANAGER_NAME=Manager
SUPPORT_PHONE=+251900000000
SUPPORT_EMAIL=info@guzoassist.com
SHEET_NAME=Guest_Bookings
REFRESH_INTERVAL=60
